.headerContainerFixed{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9;
    width: 100%;
    top: 30px;
}

.headerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    right: 0;   
    margin-right: 50px;
}

.navContainer {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 7px;
    box-shadow: 1px 1px 1px 1px rgb(219, 219, 219);
}

.headerLogo {
   
    z-index: 10;
    top: 40px;
    background-color: white;
    margin-left: 50px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    height: 20px;
    box-shadow: 1px 1px 1px 1px rgb(219, 219, 219);
}

.headerButton {
    background-color: blueviolet;
    border: none;
    padding: 8px 20px;
    border-radius: 10px;
    color: white;
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: url(/img/smile.png), auto;
}

.btnSmile {
    cursor: url(/img/smile.png), auto;
}


.headerLanguage {
    margin: 10px;
    border-left: 1px solid grey;
    padding-left: 20px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

.headerLanguage:hover{
color: blueviolet;
}

.menulistContainer {
    position: absolute;
    z-index: 10;
    top: 80px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 390px;
}

.menulistLinks {
    margin: 10px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}

.bagIcon {
    margin: 0px 10px 0px 0px;
}

