.homeFirstSection {
    background: url(/img/nomad.jpg);
    background-size: 100%;
    top: 0;
    width: 100%;
    position: relative;
    height: 900px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-y: hidden;
}

.homeFirstSectionContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 50px;
}


.homeSecondSection {
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeSecondSection p {
    font-size: 50px;
    text-align: center;
}

.homeSecondSection p span {
    background-color: var(--blue);
    color: white;
    padding: 0px 10px;
    font-weight: 700;
    animation-name: text3;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

.homeFourthSection{
    background-color: var(--magenta);
}

.homeGallerySection{
    background-color: var(--aqua);
}

@keyframes text3 {
    0%   {background-color: var(--green);}
    25%  {background-color: var(--magenta);}
    50%  {background-color: var(--aqua);}
    75% {background-color: var(--blue);}
    100% {background-color: var(--green);}
  }


.homeThirdSection {
    background-color: #F4F4F4;
    margin-right: 100px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

.sliderTitle {
    padding: 15px 15px 15px 75px;

}

.sliderText {
    width: 300px;
    padding: 5px 15px 0px 75px;
    font-size: 12px;
}

@media only screen and (max-width:500px) {
.homeSecondSection p {
    font-size: 30px;
}

.homeSecondSection p span {
    font-weight: 400;
}
}