.homeFirstSection{
   
    background: url(/img/nomad.jpg) ;
	background-size: 100%;
	top: 0;
	width: 100%;
	position: relative;
 height: 900px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-y: hidden;
    background-color: green;
}

.homeFirstSection h1{
    color: white;
    font-size: 60px;
    margin: 50px;
    width: 20%;

}

.homeSecondSection{
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeSecondSection p{
     font-size: 50px;
     text-align: center;

}

.homeSecondSection p span{
    background-color: blue;
    color: white;
    padding: 0px 10px;
}

.featuresContainer{
    background-color: rebeccapurple;

}

.homeThirdSection{
    background-color: grey;
    
}

.sliderTitle{
    padding: 15px 15px 15px 75px;
    
}

.sliderText{
    width: 300px;
    padding: 5px 15px 0px 75px;
    font-size: 12px;
}