.sliderContainer {
    margin: 0 auto;
    overflow-x: hidden;
}

.slider {
    display: flex;
    cursor: grab;
}

.sliderImgContainer {
    height: 27rem;
    min-width: 40rem;
    padding: 2rem;
    position: relative;
}

.sliderImg {
    height: 100%;
    width: 100%;
    pointer-events: none;
    border-radius: 20px;
    cursor: none;
}

.logo0 {
    background-color: var(--blue);
    position: absolute;
    right: -4px;
    bottom: 70px;
    z-index: +5;
    overflow-y: hidden;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
    width: 200px;
    transition: 2s;
}

.logo0:hover{
    background-color: var(--magenta);
}

.logo1 {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    backdrop-filter: blur(3.5px);
    position: absolute;
    right: -4px;
    bottom: 70px;
    z-index: +5;
    width: 300px;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transition: 2s;
}


.logo1:hover{
    background-color: rgba(95, 158, 160, 0.8);
}

.logo2 {
    background-color: var(--magenta);
    position: absolute;
    right: -4px;
    bottom: 70px;
    z-index: +5;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
    width: 200px;
    transition: 2s;
}

.logo2:hover{
    background-color: var(--blue);
}

.iconTitle {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

}

.text {
    border-bottom: 1px solid var(--green);
    padding: 15px 0px;
}

.services {
    padding: 15px 0px;
}

.servicesIconsContainer {
    display: flex;
    flex-direction: row;
}

.servicesIcons {
    margin-right: 10px;
}

.title0 {
    letter-spacing: 4px;
    font-weight: 800;
    margin-top: 5px;
}

.title1 {
    font-weight: 200;
    letter-spacing: 2px;
    margin-top: 5px;
    font-family: 'Caveat', cursive;
    font-style: italic;
}

.title2 {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 5px;
}